### 형 변환 -cast (type change)

#### 묵시적 형변환 vs 명시적 형변환

#### 묵시적 형변환

In [1]:
a=10
b=3.5

In [2]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

#### 명시적 형변환 -  a 를 float 형으로 ,  b를 int형으로

In [3]:
a=float(a)
b=int(b)

print(a)
print(b)

10.0
3

#### bool 자료형 (True & False)

In [4]:
a=True
b=False

print(a)
print(type(a))
print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

In [5]:
print(1==1) # True
print(1!=1) #False
print(2>1) # True
print(2<=1) # False

True
False
True
False

#### 숫자 -> bool형변환

In [6]:
print(bool(1))
print(bool(0))

True
False

### 문자열 자료형

#### String

In [7]:
quote = "나는 생각한다. 고로 존재한다."

In [8]:
print(quote)
print(type(quote))

나는 생각한다. 고로 존재한다.
<class 'str'>

In [9]:
introduce = """데카르트는 1596년 3월 31일 투렌 지방(Touraine)의 투르 인근에 있는 소도시 라에
(La Haye, 현재는 그의 이름을 따서 데카르트 시로 개명함[1])의 법관 귀족 가문에서 태어났다. 

그의 아버지는 브르타뉴 지역 렌(Renne)시의 시의원이었으며, 어머니는 그가 태어난 지 14달이 못 되어 세상을 떠났다. 
이후 그는 외할머니 밑에서 자랐고, 어린 시절 몸이 무척 허약했다고 한다. 
1606년 그는 예수회가 운영하는 라 플레쉬 콜레주(Collège la Flèche)에 입학하여 1614년까지 8년간에 걸쳐 철저하게 중세식 그리고 인본주의 교육을 받았다. 
5년간 라틴어, 수사학, 고전 작가 수업을 받았고 3년간 변증론에서 비롯하여 자연철학, 형이상학 그리고 윤리학을 포괄하는 철학 수업을 받았다.
그가 이 시기에 받은 교육은 후에 그의 저서 여기저기에 흔적을 남기게 되는데 특히 《방법서설》에 많은 영향을 끼쳤다. 
라 플레쉬를 졸업한 후 푸아티에(Poitiers) 대학 법학과에 입학해 수학·자연 과학·법률학·스콜라 철학 등을 배우고, 
수학만이 명증적인 지식이라고 생각하였다. 1616년에 리상스(Licence)를 취득한다. 
이후 그는 '세상이라는 커다란 책'으로부터 실질적인 지식을 얻고자 학교 밖으로 나갔고, 다시는 제도권 교육으로 돌아오지 않았다.
졸업 후 지원병으로 입대하여 네덜란드에 갔으며, 30년 전쟁이 일어나자 독일에 출정하였다. 
1619년 네덜란드를 여행하면서 첫 작품인 짧은 《음악 개론》(Compendium Musicae)을 썼다.
"""

In [10]:
print(type(quote))
print()
print(introduce)

<class 'str'>

데카르트는 1596년 3월 31일 투렌 지방(Touraine)의 투르 인근에 있는 소도시 라에
(La Haye, 현재는 그의 이름을 따서 데카르트 시로 개명함[1])의 법관 귀족 가문에서 태어났다.

그의 아버지는 브르타뉴 지역 렌(Renne)시의 시의원이었으며, 어머니는 그가 태어난 지 14달이 못 되어 세상을 떠났다.
이후 그는 외할머니 밑에서 자랐고, 어린 시절 몸이 무척 허약했다고 한다.
1606년 그는 예수회가 운영하는 라 플레쉬 콜레주(Collège la Flèche)에 입학하여 1614년까지 8년간에 걸쳐 철저하게 중세식 그리고 인본주의 교육을 받았다.
5년간 라틴어, 수사학, 고전 작가 수업을 받았고 3년간 변증론에서 비롯하여 자연철학, 형이상학 그리고 윤리학을 포괄하는 철학 수업을 받았다.
그가 이 시기에 받은 교육은 후에 그의 저서 여기저기에 흔적을 남기게 되는데 특히 《방법서설》에 많은 영향을 끼쳤다.
라 플레쉬를 졸업한 후 푸아티에(Poitiers) 대학 법학과에 입학해 수학·자연 과학·법률학·스콜라 철학 등을 배우고,
수학만이 명증적인 지식이라고 생각하였다. 1616년에 리상스(Licence)를 취득한다.
이후 그는 '세상이라는 커다란 책'으로부터 실질적인 지식을 얻고자 학교 밖으로 나갔고, 다시는 제도권 교육으로 돌아오지 않았다.
졸업 후 지원병으로 입대하여 네덜란드에 갔으며, 30년 전쟁이 일어나자 독일에 출정하였다.
1619년 네덜란드를 여행하면서 첫 작품인 짧은 《음악 개론》(Compendium Musicae)을 썼다.

### 문자열 연산

In [11]:
quote = "나는 생각한다. 고로 존재한다!"
speaker = 'by 데카르트'

In [12]:
print(quote+speaker)

나는 생각한다. 고로 존재한다!by 데카르트

#### 문자열끼리 (- * / 등의)연산자들은 지원하지 않아요.

In [36]:
print(quote-speaker)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [37]:
print(quote/speaker)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [38]:
print(quote*speaker)

TypeError: can't multiply sequence by non-int of type 'str'

In [13]:
print(quote*3)

나는 생각한다. 고로 존재한다!나는 생각한다. 고로 존재한다!나는 생각한다. 고로 존재한다!

#### 이스케이프 코드
|n : 개행

|t :탭

||: 슬래쉬

|' : 작은 따음표

|" : 큰 따옴표

In [21]:
quote = "나는 생각한다. 고로 존재한다! \nby 데카르트"
print(quote)

나는 생각한다. 고로 존재한다!
by 데카르트

In [22]:
quote = "나는 생각한다. 고로 존재한다! \tby 데카르트"
print(quote)

나는 생각한다. 고로 존재한다! 	by 데카르트

In [23]:
quote = "나는 생각한다. 고로 존재한다! \\by 데카르트"
print(quote)

나는 생각한다. 고로 존재한다! \by 데카르트

In [24]:
quote = "'나는 생각한다. 고로 존재한다! ''\"by 데카르트\""
print(quote)

'나는 생각한다. 고로 존재한다! ''"by 데카르트"

### 문자열 인덱싱

In [25]:
print(quote[0])
print(quote[1])
print(quote[6])

'
나
한

In [26]:
print(quote[0:4])

'나는

In [28]:
print(quote[:5])

'나는 생

In [29]:
print(quote[0:7:3])

' 한

In [27]:
print(quote[-1])
print(quote[-3])

"
르

In [30]:
print(quote[:]) #전체 출력

'나는 생각한다. 고로 존재한다! ''"by 데카르트"

### 연습문제

#### a="20190505chicken19000"는 잘못 쓰여진 변수이다.  
처음부터 **2019는 year이라는 변수**에, 그 다음 **0505를 day라는 변수**에,  
**chicken을 menu라는 변수**에, **19000을 money라는 변수에 각각 저장**하시오.   
**(반드시 인덱싱을 사용하시요.)**

In [31]:
a = "20190505chicken19000"

In [32]:
year=a[:4]
day=a[4:8]
menu=a[8:15]
money=a[15:]

print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000

#### 연습문제. 2
a="90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.  
**문자열 인덱싱**을 이용해 각 점수를 각각 math, english, science 변수에 저장하고,  
average 란 변수에 평균값을 저장하고 출력하시오.#

In [33]:
a = "90:30:80"
math = a[:2]
english = a[3:5]
science = a[6:8]

math = int(math)
english = int(english)
science = int(science)

average = (math + english + science)/3
print(average)

66.66666666666667

In [35]:
a = "90:30:80"
math = a[:2]
english = a[3:5]
science = a[6:8]

#math 는 문자열 이므로, int형으로 바꿔줘야 한다.

math = (math)
english = int(english)
science = int(science)

average = (math + english + science)/3
print(average)

TypeError: can only concatenate str (not "int") to str

### 문자열 포매팅

#### 서식문자 이용하기

In [39]:
score = 95
a = "지훈이는 어제 수학시험에서 %s점을 맞았다." % score
print(a)

지훈이는 어제 수학시험에서 95점을 맞았다.

In [40]:
score = 95
a = "지훈이는 어제 수학시험에서 %10s점을 맞았다." % score
print(a)

# % 10 s:  왼쪽으로 10칸 띄어라.

지훈이는 어제 수학시험에서         95점을 맞았다.

In [41]:
math = 95
english = 65
a = "지훈이는 어제 수학시험에서 %s점을 받았고, \n영어시험에서 %s 점을 받았다." % (math, english)
print(a)

지훈이는 어제 수학시험에서 95점을 받았고,
영어시험에서 65 점을 받았다.

##### 첫번째 % s : math

#### #두번째 % s :english

#### 여러개일 때는, %(math,english) 이렇게 해준다.

### format 함수

#### " {0}어쩌구 저쩌구 {1}" . format(math,english)

In [42]:
math = 95
english = 65
a = "지훈이는 어제 수학시점에서 {0}점을 받았고, \n영어시험에서 {1}점을 받았다.".format(math, english)
print(a)

지훈이는 어제 수학시점에서 95점을 받았고,
영어시험에서 65점을 받았다.

#### .format(matn,english, science=sicens)
좌 science : 저장해라.
우 science : 위에 40 값

In [43]:
math = 95
english = 65
science = 40
a = """지훈이는 어제 수학시점에서 {0}점을 받았고, 
영어시험에서 {1}점을 받았다.
그리고 과학시험에서는 {science}점을 받았다.
수학시험 {0}점은 정말 잘했다고 생각한다.
""".format(math, english, science=science)

print(a)

지훈이는 어제 수학시점에서 95점을 받았고,
영어시험에서 65점을 받았다.
그리고 과학시험에서는 40점을 받았다.
수학시험 95점은 정말 잘했다고 생각한다.

#### "{0:>10}"   왼쪽으로 10칸 띄어라.

#### {1:^10}  : 가운데에 이만큼 띄워라 . 양옆으로

#### "{:<10}" : 가운데에 오른쪽만큼 띄워라..!!

In [44]:
print("수학점수 {0:>10} \n영어점수 {1:^10} \n과학점수 {science:<10}".format(math,english, science=science))

수학점수         95
영어점수     65
과학점수 40

In [45]:
math = 95.342212
# 공백 채우기
print("수학점수 {0:.>10.2f} \n영어점수 {1:=^10} \n과학점수 {science:-<10}".format(math, english, science=science))

수학점수 .....95.34
영어점수 ====65====
과학점수 40--------

#### f문자열 포매팅
파이썬 3.6 버전부터는 f 문자열 포매팅 기능을 사용할 수 있다. 파이썬 3.6 미만 버전에서는 사용할 수 없는 기능이므로 주의해야 한다.  
다음과 같이 문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

In [46]:
math = 95
english = 65
science = 40
print(f"수학점수 {math} \n영어점수 {english} \n과학점수 {science}")

수학점수 95
영어점수 65
과학점수 40

# 문자열 함수 : count, index, upper,lower,strip,replace, split

## 문자열 . count(  '문자'  )

In [48]:
a = "Impossible is impossible"
print(a.count('i'))
print(a.count('l'))

4
2

## 문자열 . index ( '문자' )

In [49]:
a.index('i')

6

In [52]:
a.index('a') #에러

ValueError: substring not found

## Upper & Lower

In [53]:
a = "I am a boy"

In [54]:
print(a.upper())

I AM A BOY

In [55]:
print(a.lower())

i am a boy

## 문자열 . strip()

## 문자열 . lstrip()  or . rstrip()

In [56]:
a = "   공백이 너무 많아요.      "

In [57]:
print(len(a))
print(a)

20
   공백이 너무 많아요.

In [58]:
b = a.strip()
print(len(b))
print(b)

print(a.lstrip())
print(a.rstrip())

11
공백이 너무 많아요.
공백이 너무 많아요.
   공백이 너무 많아요.

## 문자열 . replace( "원래" ,  "수정" )

In [59]:
a = "사랑은 돌아오는거야."
print(a)

사랑은 돌아오는거야.

In [60]:
b = a.replace("사랑", "우정")
print(b)

우정은 돌아오는거야.

## 문자열 . split( " 기준  " )

In [61]:
scores = "10:20:50:80:88"
quotes = "I am a boy. you are a girl."

In [62]:
scores = "10:20:50:80:88"
quotes = "I am a boy. you are a girl."

In [64]:
score = scores.split(":") # " : "로 나누세요..!!
print(score)
print(type(score))

['10', '20', '50', '80', '88']
<class 'list'>

### split 되어서 나온 것은, "리스트"형태로 반환된다.

In [65]:
score = scores.split(":")
print(score)
print(type(score))

['10', '20', '50', '80', '88']
<class 'list'>

In [66]:
quote = quotes.split(' ')
print(quote)
print(type(quote))

['I', 'am', 'a', 'boy.', 'you', 'are', 'a', 'girl.']
<class 'list'>

In [67]:
quote2 = quotes.split()
print(quote2)

print(quote==quote2)

['I', 'am', 'a', 'boy.', 'you', 'are', 'a', 'girl.']
True

# 리스트  [ '이','것','이','리','스','트']

In [68]:
fruits = ['apple', 'grape', 'banana', 'melon', 'orange']
print(type(fruits))
print(fruits)

<class 'list'>
['apple', 'grape', 'banana', 'melon', 'orange']

In [69]:
len(fruits)

5

### index 로 접근하기

In [70]:
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

apple
grape
banana
melon
orange

In [71]:
print(type(fruits[0]))

<class 'str'>

In [72]:
print(fruits[-1])
print(fruits[-2])
print(fruits[-3])
print(fruits[-4])
print(fruits[-5])

orange
melon
banana
grape
apple

In [74]:
print(fruits[:3])
print(fruits[3:]) # 3 에 있는 값부터 끝까지 인쇄

['apple', 'grape', 'banana']
['melon', 'orange']

### 중첩 리스트

In [75]:
a = [1,2,3, [1.0, 2.0, 3.0, ['a','b','c']]]
print(a)

[1, 2, 3, [1.0, 2.0, 3.0, ['a', 'b', 'c']]]

In [76]:
print(len(a))

4

In [77]:
print(a[3])
print(a[3][3])

[1.0, 2.0, 3.0, ['a', 'b', 'c']]
['a', 'b', 'c']

### 리스트 연산

In [78]:
a = [1, 2, 3]
b = ['a', 'b', 'c']
print(a+b)
print(a*2)
print(b*5)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3]
['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

#### 리스트 값 수정

In [79]:
a = [1, 2, 3]
print(a)

[1, 2, 3]

In [80]:
a[1] = 'b'
print(a)

[1, 'b', 3]

In [82]:
del a[1]
print(a)

[1]

## 리스트 관련 함수 : append, sort , reverse, index, insert, remove, pop, count, extend , join !(String)

## 리스트 . append  ( '추가' )  :   맨 뒤에 붙음

In [83]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [84]:
a.append('hello python')
print(a)

[1, 2, 3, 4, 'hello python']

In [94]:
a.append([1,2]) #리스트 형태도 괜찮음.
print(a)

[1, 2, 3, 4, 5, [1, 2]]

## 리스트 .  sort ()

In [87]:
a = [1, 3, 5, 2, 4]
print(a)

[1, 3, 5, 2, 4]

In [93]:
a.sort()
print(a)

[1, 2, 3, 4, 5]

### 리스트 . sort ( reverse = True ) :   거꾸로 해준다!!

In [92]:
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

## 리스트 . reverse( )  :거꾸로 순서뒤집어줌

In [90]:
a = [5,3,2,1,4]
print(a)

[5, 3, 2, 1, 4]

In [91]:
a.reverse()
print(a)

[4, 1, 2, 3, 5]

##  리스트 . index ( 'a ' )

In [95]:
a = ['a', 'b', 'c', 'd']
print(a)

['a', 'b', 'c', 'd']

In [97]:
a.index('b')

1

## 리스트 . insert (  인덱스값, '문자')

In [98]:
a = [1, 2, 3, 4, 5]
a.insert(1,'a')
print(a)

[1, 'a', 2, 3, 4, 5]

In [99]:
a.insert(0,'b')
print(a)

['b', 1, 'a', 2, 3, 4, 5]

## 리스트 . remove ( 지우려는숫자)

In [101]:
a = [1, 2, 3, 4, 5, 6]
a.remove(1)
print(a)

[2, 3, 4, 5, 6]

## 리스트 . pop ( 지우려는 인덱스)

In [102]:
a = [1, 2, 3, 4]
b= a.pop(2)
print(b)
print(a)

3
[1, 2, 4]

## 리스트 . count ( 몇개인지 세고싶은것 )

In [103]:
a = [1, 2, 3, 4, 1, 1, 1]
print(a.count(1))
print(a.count(2))

4
1

## 리스트 . extend ( 리스트 )

In [104]:
a = [1,2,3]
b = ['a','b','c']

a.extend(b)
print(a)

[1, 2, 3, 'a', 'b', 'c']

## 리스트 . join ( 리스트 )

In [105]:
fruit_list = ['apple', 'banana', 'grape']

fruits = ', '.join(fruit_list)
print(fruits)
print(type(fruits))

apple, banana, grape
<class 'str'>

#  튜플 - ( Tuple )

In [106]:
a = (1, 2, 3)
b = ('a', 'b', 'c')

print(a)
print(type(a))

print(b)
print(type(b))

(1, 2, 3)
<class 'tuple'>
('a', 'b', 'c')
<class 'tuple'>