In [15]:
from urllib.request import urlopen
import bs4

주소='http://companyinfo.stock.naver.com/v1/company/c1010001.aspx?cmp_cd='

삼성='005930'
sk='000660'
셀트리온='068760'
삼성바이오로직스 ='207940'
현대차 ='005380'
포스코='003670'
lg화학='051915'
삼성물산='028260'
네이버='035420'
현대모비스='012330' 

회사=[삼성,sk,셀트리온,삼성바이오로직스,현대차,포스코,lg화학,삼성물산,네이버,현대모비스]

발행주식수={}
유통비율={}

In [16]:


def 발행주식수함수(company_id,company_info):
    #company_id=0
    #company_info=0
    
    발행주식수={}
    유통비율={}
    
    
    import re
    
    tmp=data
    tmp=tmp.replace('\r',' ')
    tmp=tmp.replace('\n',' ')
    tmp=tmp.replace('\t',' ')
    
    tmp=re.split('/',tmp)
    
    
    tmp[1]=tmp[1].replace('유통비율',' ')
    tmp[1]=tmp[1].replace('주',' ')
    tmp[1]=tmp[1].strip()
    
    
    
    발행주식수[company_id]=tmp[1]
    #유통비율[company_id]=tmp[2]
    
    return 발행주식수

In [17]:
def 유통비율함수(company_id,company_info):
    #company_id=0
    #company_info=0
    
    발행주식수={}
    유통비율={}
    
    import re
    
    tmp=data
    tmp=tmp.replace('\r',' ')
    tmp=tmp.replace('\n',' ')
    tmp=tmp.replace('\t',' ')
    
    tmp=re.split('/',tmp)
    
    
    tmp[1]=tmp[1].replace('유통비율',' ')
    tmp[1]=tmp[1].replace('주',' ')
    tmp[1]=tmp[1].strip()
    
    tmp[2]=tmp[2].strip()
    
    #발행주식수[company_id]=tmp[1]
    유통비율[company_id]=tmp[2]
    
    return 유통비율

In [102]:
all_data=[]
발행주식리스트=[]
유통비율리스트=[]
#발행주식_사전={}
#유통비율_사전={}
for i in range(len(회사)):
    source=urlopen(주소+회사[i]).read()
    source=bs4.BeautifulSoup(source,'lxml')
    data=source.find(id='cTB11').find_all('tr')[6].text
    all_data.append(data)
    print(i)
    
 #      발행주식_사전=발행주식수함수(회사[i],data)
        
  #     유통비율_사전=유통비율함수(회사[i],data)
    value=발행주식수함수(회사[i],data)
    
    발행주식리스트.append(value)
    #print(value )
    #    print(발행주식수함수(회사[i],data))
    
    
    value2=유통비율함수(회사[i],data)
    
    유통비율리스트.append(value2)
    #print(유통비율함수(회사[i],data))
    #print(회사[i])
#    print(value2 )
print(발행주식리스트)
print(유통비율리스트)

0
1
2
3
4
5
6
7
8
9
[{'005930': '5,969,782,550'}, {'000660': '728,002,365'}, {'068760': '34,075,861'}, {'207940': '66,165,000'}, {'005380': '213,668,187'}, {'003670': '60,988,220'}, {'051915': '70,592,343'}, {'028260': '189,690,043'}, {'035420': '164,813,395'}, {'012330': '95,306,694'}]
[{'005930': '74.59%'}, {'000660': '73.55%'}, {'068760': '44.46%'}, {'207940': '24.76%'}, {'005380': '65.55%'}, {'003670': '34.60%'}, {'051915': '64.28%'}, {'028260': '52.09%'}, {'035420': '78.15%'}, {'012330': '66.41%'}]

In [103]:
발행주식리스트 # 리스트 , 안에 10 개 있음..!!

[{'005930': '5,969,782,550'},
 {'000660': '728,002,365'},
 {'068760': '34,075,861'},
 {'207940': '66,165,000'},
 {'005380': '213,668,187'},
 {'003670': '60,988,220'},
 {'051915': '70,592,343'},
 {'028260': '189,690,043'},
 {'035420': '164,813,395'},
 {'012330': '95,306,694'}]

In [104]:
유통비율리스트 # 리스트 , 안에 10개 있음..!!

[{'005930': '74.59%'},
 {'000660': '73.55%'},
 {'068760': '44.46%'},
 {'207940': '24.76%'},
 {'005380': '65.55%'},
 {'003670': '34.60%'},
 {'051915': '64.28%'},
 {'028260': '52.09%'},
 {'035420': '78.15%'},
 {'012330': '66.41%'}]

In [22]:
import requests
import pandas as pd
import xml.etree.ElementTree as ET

In [37]:
all_stock=[]
all_close={}
all_date=[]

for j in range(len(회사)):
    all_stock=getStockPrice(회사[j], Count = 500)
   # print(getStockPrice(회사[j], Count = 500))
    #all_stock[회사[j]]=[]
    #date=
    #print(all_stock['close'])
    #print(all_stock['date'])
    
    all_close[회사[j]]=all_stock['close']
    all_date=all_stock['date']
    
print(all_close)
print(all_date)

{'005930': 0      46560
1      48140
2      47480
3      47960
4      47620
5      48280
6      48300
7      47700
8      47940
9      47540
10     47220
11     47000
12     47580
13     48060
14     47860
15     48660
16     49000
17     49880
18     50560
19     50480
20     50640
21     50840
22     50740
23     51200
24     51080
25     50860
26     50000
27     49840
28     49800
29     47760
       ...
470    43850
471    42700
472    42650
473    42550
474    41800
475    42550
476    42500
477    43800
478    43450
479    43900
480    44200
481    44800
482    44850
483    44600
484    43750
485    44000
486    43900
487    44350
488    45350
489    45500
490    45700
491    45500
492    45600
493    45700
494    46500
495    47000
496    46600
497    46250
498    45400
499    45850
Name: close, Length: 500, dtype: object, '000660': 0      62800
1      64000
2      64800
3      65000
4      65000
5      67500
6      69200
7      67200
8      68500
9      67400
10     66300
11     65800
12     68000
13     68100
14     66600
15     67300
16     69000
17     68900
18     70600
19     71100
20     71200
21     70800
22     71000
23     71300
24     71200
25     73000
26     70400
27     66800
28     68400
29     64600
       ...
470    68000
471    67600
472    66900
473    65900
474    66100
475    65900
476    65300
477    66600
478    65100
479    65100
480    65400
481    66800
482    67200
483    65700
484    63500
485    63100
486    63700
487    63400
488    67200
489    67300
490    65900
491    66900
492    66700
493    68900
494    70200
495    69500
496    70000
497    71400
498    69100
499    70000
Name: close, Length: 500, dtype: object, '068760': 0      21034
1      22505
2      22407
3      21770
4      21868
5      22064
6      22064
7      21868
8      21426
9      21721
10     21623
11     21230
12     21034
13     21328
14     21426
15     21230
16     20838
17     20299
18     20495
19     20642
20     20691
21     20642
22     21328
23     20985
24     20789
25     20887
26     20299
27     20544
28     20299
29     19808
       ...
470    50100
471    50000
472    48900
473    51100
474    49950
475    49950
476    51100
477    51500
478    51500
479    51600
480    51500
481    51700
482    52600
483    52700
484    52400
485    51500
486    51700
487    51400
488    51700
489    52000
490    51500
491    50800
492    50700
493    50300
494    49200
495    48050
496    49300
497    48200
498    47950
499    46450
Name: close, Length: 500, dtype: object, '207940': 0      240500
1      234000
2      233000
3      238000
4      249000
5      282500
6      283500
7      281500
8      297000
9      292000
10     280500
11     289000
12     289000
13     289500
14     290500
15     291000
16     289500
17     280000
18     275000
19     266000
20     267000
21     260500
22     263000
23     264500
24     270000
25     273000
26     287000
27     285500
28     278000
29     270000
        ...
470    299000
471    295000
472    291000
473    294000
474    289500
475    283500
476    300000
477    300500
478    314500
479    312000
480    305500
481    305500
482    307000
483    308000
484    316500
485    313000
486    309000
487    314000
488    315000
489    317000
490    317000
491    321500
492    313000
493    313500
494    315000
495    320000
496    321000
497    324000
498    318000
499    310500
Name: close, Length: 500, dtype: object, '005380': 0      167000
1      166500
2      160500
3      161500
4      164000
5      164000
6      160500
7      160000
8      161000
9      159500
10     163500
11     158500
12     156000
13     155500
14     151500
15     148000
16     148000
17     149000
18     149000
19     154000
20     150500
21     148000
22     148500
23     148000
24     147500
25     145000
26     146000
27     148000
28     146500
29     149500
        ...
470    127500
471    130500
472    135000
473    136500
474    134000
475    135500
476    134500
477    138500
478    139000
479    141000
480    140000
481    143000
482    143500
483    141000
484    141000
485    140500
486    140000
487    141000
488    140000
489    140500
490    140500
491    142500
492    141500
493    141500
494    140500
495    140000
496    141000
497    137000
498    136000
499    139500
Name: close, Length: 500, dtype: object, '003670': 0      15500
1      15200
2      15250
3      15000
4      15100
5      15400
6      15750
7      15550
8      15700
9      15350
10     15050
11     14400
12     14850
13     14950
14     15300
15     15700
16     16000
17     17550
18     17900
19     17400
20     18200
21     17650
22     17500
23     18850
24     19400
25     19850
26     21000
27     21500
28     21800
29     21000
       ...
470    52300
471    53600
472    53900
473    52900
474    53100
475    53600
476    54400
477    54000
478    57500
479    56800
480    57400
481    55400
482    55700
483    55700
484    57100
485    56800
486    55200
487    55500
488    56000
489    56200
490    55200
491    53000
492    53600
493    53300
494    53800
495    53600
496    53500
497    52100
498    53400
499    55700
Name: close, Length: 500, dtype: object, '051915': 0      195000
1      193500
2      196500
3      198000
4      193500
5      194000
6      194500
7      192500
8      195500
9      202000
10     202500
11     199500
12     201000
13     201500
14     199500
15     198000
16     202500
17     203500
18     214000
19     219000
20     222500
21     225500
22     224500
23     230000
24     230000
25     236000
26     229000
27     229000
28     235000
29     229000
        ...
470    184000
471    183500
472    184500
473    188000
474    185500
475    188500
476    194000
477    194500
478    192500
479    191000
480    188500
481    190000
482    190500
483    192000
484    193000
485    189500
486    191000
487    192500
488    191500
489    192000
490    188500
491    189000
492    193500
493    194000
494    195500
495    195500
496    196500
497    196500
498    198500
499    197000
Name: close, Length: 500, dtype: object, '028260': 0      136000
1      134000
2      132000
3      137500
4      139000
5      141500
6      146000
7      144500
8      148500
9      148000
10     144500
11     144000
12     145500
13     145000
14     145000
15     145500
16     145500
17     142500
18     144500
19     140000
20     142000
21     142500
22     141500
23     141500
24     143500
25     143500
26     142000
27     139000
28     141000
29     138500
        ...
470     94500
471     93500
472     93500
473     93600
474     91500
475     91400
476     92300
477     92800
478     92600
479     93000
480     92800
481     93100
482     93700
483     93800
484     92400
485     92800
486     91900
487     92200
488     94000
489     96400
490     95400
491     95900
492     96100
493     95900
494     96400
495     95700
496     96000
497     95200
498     94000
499     95000
Name: close, Length: 500, dtype: object, '035420': 0      175849
1      173446
2      176250
3      176250
4      177652
5      177852
6      174047
7      172445
8      170842
9      167838
10     169040
11     168239
12     167237
13     165234
14     167838
15     162831
16     166236
17     164433
18     166236
19     168038
20     168038
21     166236
22     167237
23     167237
24     168038
25     166837
26     167638
27     165234
28     165234
29     160027
        ...
470    113000
471    113500
472    110500
473    108500
474    109500
475    112000
476    111500
477    115000
478    111000
479    110500
480    111000
481    114000
482    113000
483    114000
484    113000
485    111500
486    110500
487    109000
488    110000
489    111500
490    113000
491    113500
492    114500
493    115500
494    115000
495    114000
496    114500
497    115000
498    117500
499    118000
Name: close, Length: 500, dtype: object, '012330': 0      261000
1      257000
2      254500
3      258000
4      257000
5      255500
6      253500
7      254500
8      255000
9      250000
10     258500
11     250500
12     248000
13     248500
14     245500
15     243000
16     243500
17     244500
18     245000
19     250500
20     249500
21     249000
22     247500
23     246000
24     243500
25     244000
26     245500
27     248000
28     247000
29     255500
        ...
470    212000
471    214000
472    219000
473    217000
474    217500
475    221000
476    217000
477    217000
478    217500
479    220500
480    220000
481    225500
482    225500
483    223000
484    216000
485    220500
486    220500
487    223500
488    223500
489    224000
490    226000
491    229000
492    232000
493    233000
494    235500
495    235500
496    235000
497    232000
498    229500
499    231500
Name: close, Length: 500, dtype: object}
0      20170619
1      20170620
2      20170621
3      20170622
4      20170623
5      20170626
6      20170627
7      20170628
8      20170629
9      20170630
10     20170703
11     20170704
12     20170705
13     20170706
14     20170707
15     20170710
16     20170711
17     20170712
18     20170713
19     20170714
20     20170717
21     20170718
22     20170719
23     20170720
24     20170721
25     20170724
26     20170725
27     20170726
28     20170727
29     20170728
         ...
470    20190523
471    20190524
472    20190527
473    20190528
474    20190529
475    20190530
476    20190531
477    20190603
478    20190604
479    20190605
480    20190607
481    20190610
482    20190611
483    20190612
484    20190613
485    20190614
486    20190617
487    20190618
488    20190619
489    20190620
490    20190621
491    20190624
492    20190625
493    20190626
494    20190627
495    20190628
496    20190701
497    20190702
498    20190703
499    20190704
Name: date, Length: 500, dtype: object

In [43]:
#all_close['003670']

In [44]:
#all_date

In [23]:
def getStockPrice(StockCode, Count = 500) :
    ret = pd.DataFrame(columns=['date', 'open', 'high', 'low', 'close','volumn'])
    
    url = "https://fchart.stock.naver.com/sise.nhn?symbol={}&timeframe=day&count={}&requestType=0"
    url = url.format(StockCode, Count)
    response = requests.get(url)
    
    e = ET.fromstring(response.text.replace('\n','').replace('\t',''))
    
    stock_history = []
    for item in e.find('chartdata').findall('item') :
        data = item.get('data').split('|')
        ret.loc[len(ret)] = data
        
    return ret

In [96]:
#aa = getStockPrice('005930')

In [106]:
#table_data={}

#df2=pd.to_datetime(df['date'])

#table_data[회사[p]]=[all_close[회사[p]] ]              

df4=pd.DataFrame()
df4['date']=all_date
df4['date']=pd.to_datetime(df4['date'])
#df3=df3.set_index('date')



for p in range(len(회사)):
    df4[회사[p]]=all_close[회사[p]]
    
    #table_data[회사[p]]=[all_close[회사[p]] ]            
    
# for k in range(len(회사)):    
    #df2=pd.DataFrame(table_data,columns=회사[k],index=all_date)

In [107]:
df4

,date,005930,000660,068760,207940,005380,003670,051915,028260,035420,012330
0,2017-06-19,46560,62800,21034,240500,167000,15500,195000,136000,175849,261000
1,2017-06-20,48140,64000,22505,234000,166500,15200,193500,134000,173446,257000
2,2017-06-21,47480,64800,22407,233000,160500,15250,196500,132000,176250,254500
3,2017-06-22,47960,65000,21770,238000,161500,15000,198000,137500,176250,258000
4,2017-06-23,47620,65000,21868,249000,164000,15100,193500,139000,177652,257000
5,2017-06-26,48280,67500,22064,282500,164000,15400,194000,141500,177852,255500
6,2017-06-27,48300,69200,22064,283500,160500,15750,194500,146000,174047,253500
7,2017-06-28,47700,67200,21868,281500,160000,15550,192500,144500,172445,254500
8,2017-06-29,47940,68500,21426,297000,161000,15700,195500,148500,170842,255000
9,2017-06-30,47540,67400,21721,292000,159500,15350,202000,148000,167838,250000
10,2017-07-03,47220,66300,21623,280500,163500,15050,202500,144500,169040,258500
11,2017-07-04,47000,65800,21230,289000,158500,14400,199500,144000,168239,250500
12,2017-07-05,47580,68000,21034,289000,156000,14850,201000,145500,167237,248000
13,2017-07-06,48060,68100,21328,289500,155500,14950,201500,145000,165234,248500
14,2017-07-07,47860,66600,21426,290500,151500,15300,199500,145000,167838,245500
15,2017-07-10,48660,67300,21230,291000,148000,15700,198000,145500,162831,243000
16,2017-07-11,49000,69000,20838,289500,148000,16000,202500,145500,166236,243500
17,2017-07-12,49880,68900,20299,280000,149000,17550,203500,142500,164433,244500
18,2017-07-13,50560,70600,20495,275000,149000,17900,214000,144500,166236,245000
19,2017-07-14,50480,71100,20642,266000,154000,17400,219000,140000,168038,250500
20,2017-07-17,50640,71200,20691,267000,150500,18200,222500,142000,168038,249500
21,2017-07-18,50840,70800,20642,260500,148000,17650,225500,142500,166236,249000
22,2017-07-19,50740,71000,21328,263000,148500,17500,224500,141500,167237,247500
23,2017-07-20,51200,71300,20985,264500,148000,18850,230000,141500,167237,246000
24,2017-07-21,51080,71200,20789,270000,147500,19400,230000,143500,168038,243500
25,2017-07-24,50860,73000,20887,273000,145000,19850,236000,143500,166837,244000
26,2017-07-25,50000,70400,20299,287000,146000,21000,229000,142000,167638,245500
27,2017-07-26,49840,66800,20544,285500,148000,21500,229000,139000,165234,248000
28,2017-07-27,49800,68400,20299,278000,146500,21800,235000,141000,165234,247000
29,2017-07-28,47760,64600,19808,270000,149500,21000,229000,138500,160027,255500
...,...,...,...,...,...,...,...,...,...,...,...
470,2019-05-23,43850,68000,50100,299000,127500,52300,184000,94500,113000,212000
471,2019-05-24,42700,67600,50000,295000,130500,53600,183500,93500,113500,214000
472,2019-05-27,42650,66900,48900,291000,135000,53900,184500,93500,110500,219000
473,2019-05-28,42550,65900,51100,294000,136500,52900,188000,93600,108500,217000
474,2019-05-29,41800,66100,49950,289500,134000,53100,185500,91500,109500,217500
475,2019-05-30,42550,65900,49950,283500,135500,53600,188500,91400,112000,221000
476,2019-05-31,42500,65300,51100,300000,134500,54400,194000,92300,111500,217000
477,2019-06-03,43800,66600,51500,300500,138500,54000,194500,92800,115000,217000
478,2019-06-04,43450,65100,51500,314500,139000,57500,192500,92600,111000,217500
479,2019-06-05,43900,65100,51600,312000,141000,56800,191000,93000,110500,220500
480,2019-06-07,44200,65400,51500,305500,140000,57400,188500,92800,111000,220000
481,2019-06-10,44800,66800,51700,305500,143000,55400,190000,93100,114000,225500
482,2019-06-11,44850,67200,52600,307000,143500,55700,190500,93700,113000,225500
483,2019-06-12,44600,65700,52700,308000,141000,55700,192000,93800,114000,223000
484,2019-06-13,43750,63500,52400,316500,141000,57100,193000,92400,113000,216000
485,2019-06-14,44000,63100,51500,313000,140500,56800,189500,92800,111500,220500
486,2019-06-17,43900,63700,51700,309000,140000,55200,191000,91900,110500,220500
487,2019-06-18,44350,63400,51400,314000,141000,55500,192500,92200,109000,223500
488,2019-06-19,45350,67200,51700,315000,140000,56000,191500,94000,110000,223500
489,2019-06-20,45500,67300,52000,317000,140500,56200,192000,96400,111500,224000
490,2019-06-21,45700,65900,51500,317000,140500,55200,188500,95400,113000,226000
491,2019-06-24,45500,66900,50800,321500,142500,53000,189000,95900,113500,229000
492,2019-06-25,45600,66700,50700,313000,141500,53600,193500,96100,114500,232000
493,2019-06-26,45700,68900,50300,313500,141500,53300,194000,95900,115500,233000
494,2019-06-27,46500,70200,49200,315000,140500,53800,195500,96400,115000,235500
495,2019-06-28,47000,69500,48050,320000,140000,53600,195500,95700,114000,235500
496,2019-07-01,46600,70000,49300,321000,141000,53500,196500,96000,114500,235000
497,2019-07-02,46250,71400,48200,324000,137000,52100,196500,95200,115000,232000
498,2019-07-03,45400,69100,47950,318000,136000,53400,198500,94000,117500,229500
499,2019-07-04,45850,70000,46450,310500,139500,55700,197000,95000,118000,231500

In [108]:
df4=df4.set_index('date')

In [109]:
df4

,005930,000660,068760,207940,005380,003670,051915,028260,035420,012330
date,,,,,,,,,,
2017-06-19,46560,62800,21034,240500,167000,15500,195000,136000,175849,261000
2017-06-20,48140,64000,22505,234000,166500,15200,193500,134000,173446,257000
2017-06-21,47480,64800,22407,233000,160500,15250,196500,132000,176250,254500
2017-06-22,47960,65000,21770,238000,161500,15000,198000,137500,176250,258000
2017-06-23,47620,65000,21868,249000,164000,15100,193500,139000,177652,257000
2017-06-26,48280,67500,22064,282500,164000,15400,194000,141500,177852,255500
2017-06-27,48300,69200,22064,283500,160500,15750,194500,146000,174047,253500
2017-06-28,47700,67200,21868,281500,160000,15550,192500,144500,172445,254500
2017-06-29,47940,68500,21426,297000,161000,15700,195500,148500,170842,255000
2017-06-30,47540,67400,21721,292000,159500,15350,202000,148000,167838,250000
2017-07-03,47220,66300,21623,280500,163500,15050,202500,144500,169040,258500
2017-07-04,47000,65800,21230,289000,158500,14400,199500,144000,168239,250500
2017-07-05,47580,68000,21034,289000,156000,14850,201000,145500,167237,248000
2017-07-06,48060,68100,21328,289500,155500,14950,201500,145000,165234,248500
2017-07-07,47860,66600,21426,290500,151500,15300,199500,145000,167838,245500
2017-07-10,48660,67300,21230,291000,148000,15700,198000,145500,162831,243000
2017-07-11,49000,69000,20838,289500,148000,16000,202500,145500,166236,243500
2017-07-12,49880,68900,20299,280000,149000,17550,203500,142500,164433,244500
2017-07-13,50560,70600,20495,275000,149000,17900,214000,144500,166236,245000
2017-07-14,50480,71100,20642,266000,154000,17400,219000,140000,168038,250500
2017-07-17,50640,71200,20691,267000,150500,18200,222500,142000,168038,249500
2017-07-18,50840,70800,20642,260500,148000,17650,225500,142500,166236,249000
2017-07-19,50740,71000,21328,263000,148500,17500,224500,141500,167237,247500
2017-07-20,51200,71300,20985,264500,148000,18850,230000,141500,167237,246000
2017-07-21,51080,71200,20789,270000,147500,19400,230000,143500,168038,243500
2017-07-24,50860,73000,20887,273000,145000,19850,236000,143500,166837,244000
2017-07-25,50000,70400,20299,287000,146000,21000,229000,142000,167638,245500
2017-07-26,49840,66800,20544,285500,148000,21500,229000,139000,165234,248000
2017-07-27,49800,68400,20299,278000,146500,21800,235000,141000,165234,247000
2017-07-28,47760,64600,19808,270000,149500,21000,229000,138500,160027,255500
...,...,...,...,...,...,...,...,...,...,...
2019-05-23,43850,68000,50100,299000,127500,52300,184000,94500,113000,212000
2019-05-24,42700,67600,50000,295000,130500,53600,183500,93500,113500,214000
2019-05-27,42650,66900,48900,291000,135000,53900,184500,93500,110500,219000
2019-05-28,42550,65900,51100,294000,136500,52900,188000,93600,108500,217000
2019-05-29,41800,66100,49950,289500,134000,53100,185500,91500,109500,217500
2019-05-30,42550,65900,49950,283500,135500,53600,188500,91400,112000,221000
2019-05-31,42500,65300,51100,300000,134500,54400,194000,92300,111500,217000
2019-06-03,43800,66600,51500,300500,138500,54000,194500,92800,115000,217000
2019-06-04,43450,65100,51500,314500,139000,57500,192500,92600,111000,217500
2019-06-05,43900,65100,51600,312000,141000,56800,191000,93000,110500,220500
2019-06-07,44200,65400,51500,305500,140000,57400,188500,92800,111000,220000
2019-06-10,44800,66800,51700,305500,143000,55400,190000,93100,114000,225500
2019-06-11,44850,67200,52600,307000,143500,55700,190500,93700,113000,225500
2019-06-12,44600,65700,52700,308000,141000,55700,192000,93800,114000,223000
2019-06-13,43750,63500,52400,316500,141000,57100,193000,92400,113000,216000
2019-06-14,44000,63100,51500,313000,140500,56800,189500,92800,111500,220500
2019-06-17,43900,63700,51700,309000,140000,55200,191000,91900,110500,220500
2019-06-18,44350,63400,51400,314000,141000,55500,192500,92200,109000,223500
2019-06-19,45350,67200,51700,315000,140000,56000,191500,94000,110000,223500
2019-06-20,45500,67300,52000,317000,140500,56200,192000,96400,111500,224000
2019-06-21,45700,65900,51500,317000,140500,55200,188500,95400,113000,226000
2019-06-24,45500,66900,50800,321500,142500,53000,189000,95900,113500,229000
2019-06-25,45600,66700,50700,313000,141500,53600,193500,96100,114500,232000
2019-06-26,45700,68900,50300,313500,141500,53300,194000,95900,115500,233000
2019-06-27,46500,70200,49200,315000,140500,53800,195500,96400,115000,235500
2019-06-28,47000,69500,48050,320000,140000,53600,195500,95700,114000,235500
2019-07-01,46600,70000,49300,321000,141000,53500,196500,96000,114500,235000
2019-07-02,46250,71400,48200,324000,137000,52100,196500,95200,115000,232000
2019-07-03,45400,69100,47950,318000,136000,53400,198500,94000,117500,229500
2019-07-04,45850,70000,46450,310500,139500,55700,197000,95000,118000,231500

### 지수산출 k10

#### 시가총액 market capitalization  = 주가 X 상장주식 수

#### 유동비율을 반영한 시가총액 ; 두 가지 시가총액을 모두 구한다.

#### 기준시점의 시가총액 구함.

##### 이제 종목별 일자별 시가총액을 k10_historical_mc 데이터프레임에 저장합니다

#### 지수 = (비교 시점 시가총액 / 기준 시점 시가총액) x 100   ;;;; 10개의 종목의 시가총액을 다 더해줍니다.

### 지수 산출 :  지수 = 비교시점 시가총액/기준시점시가총액 *100

### 시가 총액 = 주가 * 상장주식 수 * 유동비율

In [ ]:
시가총액=[]

def 시가총액계산함수(company_id,주가??):
    for i in range(len()):
        발행주식리스트[회사[i]] #해당 회사의 발행주식 리스트
        
        시가총액= 발행주식리스트[i]*유동비율리스트[i]
        

    
    return 시가총액